.grouping {
  width: 1315px;
  height: 445px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  .text {
    width: inherit;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      font-size: 20px;
      font-weight: bold;
      font-family: var(--font-family);
    }
  }
  .items {
    width: 1195px;
    height: 320px;
    display: flex;
    flex-flow: column wrap;
    column-gap: 70px;
    justify-content: space-between;
    cursor: pointer;
    margin: 15px 60px;
    .item {
      display: flex;
      flex-flow: column wrap;
      .photo {
        background-color: unset;
        & img {
          width: 100px;
          height: 100px;
        }
      }
      .comment {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-family: var(--font-family);
        font-weight: bold;
        color: #2b2b2b;
        font-size: 11px;
      }
    }
  }
}

